<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCCtOvpuvFdW5iAc4BjIAfAhdXoPwoEXmc</string>
	<key>GCM_SENDER_ID</key>
	<string>641621420643</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hrm.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>hrm-jmm</string>
	<key>STORAGE_BUCKET</key>
	<string>hrm-jmm.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:641621420643:ios:f0b993feb939593045a656</string>
</dict>
</plist>